Package: com.zx02.xenlive
Name: XenLive
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zerui Chen
Author: Zerui Chen
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), rsync (>=3.0.0), openssh
